<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <link rel="stylesheet" href="https://storage.googleapis.com/215187928444/bootstrap.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Events</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">The Event Sharing App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>
    <div class = "jumbotron">
      <h1>The Event Sharing App</h1>
        {{{body}}}
    </div>
</div>
<div class="jumbotron">
  <h4>Add an event</h4>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" placeholder="Event Title">
      <label for="description">Description</label>
      <input class="form-control" id="description" placeholder="Description">
      <div>
      <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
</div>
</body>
</html>